<h1>Add a new task</h1>

<div class="bottom-padding">
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.submit %>
  <% end %>
</div>


<%= link_to "Back to all tasks", tasks_path, class: "btn btn-outline-secondary" %>
