

<div class="card">
  <div class="card-header"><%= @task.title %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @task.details %></li>
    <li class="list-group-item"><%= @task.completed == true ? "☑︎ This task is completed." : "◻ This task is not completed yet." %></li>
  </ul>
  <div class="card-body">
  <%= link_to "Edit", edit_task_path(@task), class: "btn btn-primary" %>
  <%= link_to "Back to all tasks", tasks_path, class: "btn btn-outline-secondary" %>
  <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?"}, class: "btn btn-danger" %>
  </div>
</div>



